.body{
    padding: 0;
    margin: 0;
    display: flex;
    
}

.clock{
    text-align: center;
    font-size: 100px;
    background-color:wheat;
   
}

.clk{
    background-color: brown;
    color:red;
    background: none;
}

.head1{

  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%

  );
background-clip: text;
    color: transparent;
    font-style: italic;

}
